<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543975284866-nqktkpuo716aq47uubqlt67muokup100.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543975284866-nqktkpuo716aq47uubqlt67muokup100</string>
	<key>API_KEY</key>
	<string>AIzaSyD0X0wsNbCxGeF_FH-_xfDVhtTmCHbjPfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>543975284866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreflego.hackathon-app</string>
	<key>PROJECT_ID</key>
	<string>hackathon-app-fb2a6</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-app-fb2a6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543975284866:ios:d4e592c561188055cf949b</string>
</dict>
</plist>